{# components/header.j2 #}

<style>
    header {
        text-align: center;
    }

    header > div {
        line-height: 0%;
    }
</style>

<header>
    <img src="static/header.png" width="100%">
    <div>
        <h4>LOGBOOK</h4>
        <h5>KEGIATAN PRAKTEK KERJA LAPANGAN</h5>
        <h5>SEMESTER {{ data["semester"] }} {{ data["tahun_ajaran"] }}</h5>
    </div>
</header>